.site-header {
    background-color: var(--wp--custom--color--blue);
    padding-bottom: var(--space-s);
    padding-top: var(--space-s);
    position: sticky;
    top: 0;
    z-index: 100;
}

.site-header__title {
    font-weight: 700;
    margin: 0;
    position: relative;
    z-index: 110;

    svg {
        height: 39px;
        width: 123px;

        @include media-min(navigation) {
            height: 55px;
            width: 176px;
        }
    }
}

.site-header__title a {
    color: var(--wp--custom--color--neutral--white);
    display: inline-flex;
    text-decoration: none;

    &:focus {
        outline-color: var(--wp--custom--color--neutral--white);
    }
}

.site-header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include media(navigation) {
        flex-wrap: wrap;
    }
}

.site-header__logo {
    max-width: 10rem;

    @include media-min(navigation) {
        max-width: 13rem;
    }
}
