.icon,
.wp-block-social-links svg {
    display: inline-block;
    fill: currentColor;
    height: 1em;
    pointer-events: none;
    position: relative;
    top: -0.0625em;
    vertical-align: middle;
    width: 1em;
}
