/*
 * Color scheme saved to a variable for easy utilization of color schemes.
 */

:root {
    --color-scheme: var(--color-primary);
    --color-button: var(--color-white);
}

.has-color-scheme-deep-canary {
    --color-scheme: var(--color-deep-canary);
    --color-button: var(--color-black);
}

.has-color-scheme-jade-green {
    --color-scheme: var(--color-jade-green);
}

.has-color-scheme-colorful-tangerine {
    --color-scheme: var(--color-colorful-tangerine);
    --color-button: var(--color-black);
}

.has-color-scheme-dark-grey-green {
    --color-scheme: var(--color-dark-grey-green);
}
