.hero {
    background-color: var(--color-primary);
    color: var(--color-white);
    position: relative;

    &::before {
        background-color: var(--color-primary);
        bottom: 0;
        content: "";
        height: 100%;
        left: 0;
        opacity: 0.4;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        z-index: 1;
    }
}

.hero__container {
    align-items: center;
    display: flex;
    flex-direction: row;
    min-height: 75vh;
    padding-bottom: var(--space-xl-2xl);
    padding-top: var(--space-xl-2xl);
}

.hero__content {
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 10;

    p {
        font-size: var(--step-1);
    }
}

.hero__image {
    margin: 0;
}

.content-area > .hero:first-child,
.is-root-container > .hero:first-child {
    margin-top: 0;
}
