.pagination {
    width: var(--width-wide);
}

.pagination .nav-links {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-weight: 700;
    gap: var(--space-xs);
}

.page-numbers {
    background-color: var(--color-grey-500);
    color: var(--color-black);
    padding: var(--space-xs) var(--space-s);
    text-align: center;
    text-decoration: none;

    &.current {
        background-color: var(--color-black);
        color: var(--color-white);
    }
}
